:root {
  /* Official Cobalt2 Colors */
  /* https://github.com/wesbos/cobalt2 */
  --yellow: #ffc600;
  --orange: #FF9D00;
  --mint: #2AFFDF;
  --blue: #193549;
  --off-blue: #0D3A58;
  --dusty-blue: #35434d;
  --dark-blue: #15232D;
  --pink: #FB94FF;
  --light-blue: #9EFFFF;

  /* Non-standard Cobalt 2 colors */
  --red: #ff0088;
  --grey: #738694;
  --dark-grey: #30404d;
  --white: #fff;
  --off-white: #ddd;


  /* Roam default variables */

  --primary-color: var(--orange);
  --s1: 8px;
  --background-color: var(--blue);
  --background-highlight: var(--dusty-blue);
  --background-highlight-alt: var(--off-blue);

  /* Components */

  --alias__background-color: var(--blue); /* Legacy alias */
  --alias__color: var(--pink);

  --attr__color: var(--main-font__color);
  --attr__font-weight: bold;

  --block-ref__background-color: none;
  --block-ref__background-color_hover: var(--background-highlight);
  --block-ref__border-bottom: var(--background-highlight-alt);
  --block-ref__color_hover: inherit;
  --block-ref__font-size: 1em;
  --block-ref__background-color_inline: var(--background-highlight-alt);
  --block-ref__border-left_inline: var(--primary-color);

  --block-embed__background-color: inherit;
  --block-embed__background-color_margin-action: var(--grey);
  --block-embed__border-left_margin-action: var(--off-blue);

  --blockquote__background-color: inherit;
  --blockquote__border_color: var(--mint);
  --blockquote__border-left: 4px solid;
  --blockquote__color: inherit;
  --blockquote__font-size: 14px;
  --blockquote__text-align: inherit;
  --blockquote__text-justify: inherit;

  --code-font__color: var(--white);
  --code-font__font-family: 'Fira Code', monospace;
  --code-font__font-size: 1em;
  --code__background: var(--dark-blue);
  --code__background_gutter: var(--dark-blue);
  --code-inline__border: .25px solid var(--off-white);

  --db-menu__background-color: inherit;
  --db-menu__background-color_hover: var(--dark-blue);
  --db-menu__box-shadow: var(--dark-blue);
  --db-menu-title__color: var(--white);

  --datepicker__background-color: inherit;
  --datepicker__color: var(--white);
  --datepicker__color_other-month: var(--white);
  --datepicker-day__background_hover: var(--background-highlight-alt);
  --datepicker-day__color_hover: var(--primary-color);
  --datepicker-today__border: var(--white);

  --dialog__background: var(--background-highlight);
  --dialog__color: var(--white);
  --dialog-input__background: var(--background-highlight);

  --emoji__background-color: var(--background-color);
  --emoji__border: var(--light-blue);
  --emoji__color: var(--off-blue);

  --encrypted__background-color: var(--off-white);
  --encrypted__color: var(--mint);
  --encrypted__font-size: 12px;

  --external-link__color: var(--primary-color);
  --external-link__text-decoration: underline;

  --inline-block__background-color: var(--dusty-blue);
  --inline-block__border: var(--off-blue);
  --inline-search__background-color: var(--blue);

  --kanban-board__background-color: var(--dark-blue);
  --kanban-card__background-color: var(--blue);
  --kanban-card__color: var(--white);
  --kanban-column__background-color: var(--dark-blue);
  --kanban-column__color: var(--white);

  --linked-reference__backgound-color_1: var(--off-blue);
  --linked-reference__backgound-color_2: var(--dusty-blue);
  --linked-reference__backgound-color_3: var(--dusty-blue);

  --menu__color: var(--white);
  --menu__background: var(--off-blue);

  --page-brackets__color: var(--off-white);
  --page-link__color: var(--primary-color);
  --page-link-namespace__color: var(--primary-color);

  --pomodoro__background: transparent;
  --pomodoro__color: var(--white);
  --pomodoro__border-color: var(--white);

  --query__border: 0.5px solid #bfccd6;
  --query__color_query-string: var(--white);

  --rm-g__background-color_block: var(--dark-blue);
  --rm-g__background-color_left-border: var(--dark-blue);

  --select-menu__background-color: inherit;

  --table__border: 1px solid grey;
  --table__font-size: 12px;

  --tag__background-color_hover: inherit;
  --tag__border-radius: inherit;
  --tag__color: var(--grey);
  --tag__color_hover: inherit;
  --tag__color_hashtag: var(--tag__color);
  --tag__padding: inherit;

  --todo-checkmark__background-color: var(--background-highlight-alt);
  --todo-checkmark__color: var(--white);

  --version-bullet__background-color: var(--mint);
  --version-bullet__border: var(--mint);

  /* layout */

  /* body */

  --body__background-color: var(--background-color);
  --main-font__color: var(--white);
  --main-font__font-family: 'Montserrat', sans-serif;
  --main-font__font-size: 14px;
  --caret__color: var(--pink);
  --accent__color: var(--mint);
  --accent__color_alert: var(--red);
  --accent__color-font: var(--yellow);

  --block-highlight__background-color_selected: var(--dusty-blue);
  --block-highlight__background-color_active: transparent;
  --block-highlight__background-color_mentions: var(--yellow);

  --bullet__background-color: var(--white);
  --bullet__border_closed: var(--off-white);
  --bullet-outline__border: var(--off-white);
  --bullet-outline__border_hover: var(--white);

  --section-divider_border-top: var(--grey);

  /* breadcrumb */

  --breadcrumb__background-color: inherit;
  --breadcrumb__color: var(--white);
  --breadcrumb__font-size: 14px;

  /* help */

  --help__background-color: inherit;
  --help__border: #e8eaeb;
  --help__color: inherit;

  /* left sidebar */

  --left-sidebar__background-color: var(--dark-blue);
  --left-sidebar__background-color_hover: var(--dark-blue);
  --left-sidebar__color: var(--white);
  --left-sidebar__color_hover: var(--mint);
  --left-sidebar__font-size: 14px;
  --left-sidebar-shortcuts__color: var(--left-sidebar__color);
  --left-sidebar-shortcuts__color_title: var(--left-sidebar__color);
  --left-sidebar-shortcuts__font-size: 14px;

  /* right sidebar */

  --right-sidebar__color_title-closed: inherit;
  --right-sidebar__background-color: rgba(92, 112, 128, 0.05);
  --right-sidebar-masonry__background-color: inherit;
  --right-sidebar-masonry__border: inherit;
  --right-sidebar__border: rgb(138, 155, 168);

  /* scrollbar */

  --scrollbar-track: var(--white)fff10;
  --scrollbar-thumb: rgba(153, 153, 153, 0.1);

  /* topbar */

  --status-icon__background-color_saving-local: var(--red);
  --status-icon__background-color_saving-remote: var(--orange);
  --status-icon__background-color_synched: var(--mint);
  --search__background: var(--blue);
  --search__background-color_selected-row: var(--dusty-blue);
  --search__color_body: var(--off-blue);
  --search__color_new-page: var(--mint);
  --search__color_page: var(--white);
  --search__border: 0 0 0 1px var(--white), 0 0 0 3px rgba(19, 124, 189, 0.3),
    inset 0 1px 1px rgba(16, 22, 26, 0.2); // JH: TODO update the style to reflect a full rule rather than just a single color
  --topbar__background-color: var(--background-color);
  --topbar__border: var(--mint);

  /* typography */

  --calculation__color: var(--mint);
  --emphasis__color: inherit;
  --h1__color: var(--white);
  --h1__color_link: var(--page-link__color);
  --h1__font-family: var(--main-font__font-family);
  --h1__font-size: 1.8rem;
  --h1__font-weight: 400;
  --h2__color: var(--white);
  --h2__color_link: var(--page-link__color);
  --h2__font-family: var(--h1__font-family);
  --h2__font-size: 1.4rem;
  --h2__font-weight: 400;
  --h3__color: var(--white);
  --h3__color_link: var(--page-link__color);
  --h3__font-family: var(--h1__font-family);
  --h3__font-size: 1.2rem;
  --h2__font-weight: 500;
  --highlight__background-color: var(--yellow);
  --highlight__color: inherit;
  --highlight-link-color: inherit;
  --hr__border: var(--white);
  --hr__margin-bottom: inherit;
  --hr__margin-top: 10px;
  --strikethrough__color: inherit;
  --strikethrough__font-style: normal;
  --strikethrough__opacity: 1;
  --strong__color: inherit;
  --strong__font-weight: bold;

  /* pages */

  /* all pages */
  --pages-checkmark__background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(255, 255, 255, 0.8)),
    to(rgba(255, 255, 255, 0))
  );
  --pages-delete__background-color: var(--white);
  --pages-delete__border-color: var(--off-white);
  --pages-header__background-color: var(--background-color);
  --pages-header__color: var(--off-white);
  --pages-mentions__background-color_empty: var(--white);
  --pages-mentions__background-color: var(--blue);
  --pages-mentions__color_empty: var(--yellow);
  --pages-search-field__background-color: var(--blue);
  --pages-search-field__border-color: var(--dark-blue);
  --pages-table__border-color: var(--blue);
  --pages-header__color_sorted: var(--white);

  /* icons */

  --icon__background-color_hover: rgba(167, 182, 194, 0.3);
  --icon__color: var(--off-white);
  --icon__color_hover: var(--mint);
  --filter__color_subscript: var(--mint);
}
